
/* make box sizing consistent */
*, *::before, *::after {
    box-sizing: border-box;
}

/* remove all the margins by default */
* {
    margin: 0;
}

/* set up the colours */
:root {

    /* define a colour scheme made up of some bright colours */
    --backgroundColour1    : #ee7752;
    --backgroundColour2    : #e73c7e;
    --backgroundColour3    : #23a6d5;
    --backgroundColour4    : #23d5ab;
    --hexFillColour        : rgba(0, 0, 0, 0.01);
    --hexBorderColour      : rgba(0, 0, 0, 0.0);

    /* define a darker alternative colour scheme */
    --backgroundColourAlt1 : #010332;
    --backgroundColourAlt2 : #29011C;
    --backgroundColourAlt3 : #43000D;
    --backgroundColourAlt4 : #530005;
    --hexFillColourAlt     : rgba(255, 255, 255, 0.01);
    --hexBorderColourAlt   : rgba(255, 255, 255, 0.0);

}

/* core layout/fonts/colours */
body {

    /* fonts */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    line-height: calc(1em + 0.5rem);

    /* colours */
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    
    /* basic margins */
    margin-block-start: 5vh;
    margin-inline: 1em;

    /* center things */
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;

}

/* make react play nice */
#root {
    isolation: isolate;
    max-width: 1280px;
}

/* animated background */
body {
	background: linear-gradient(-45deg, var(--backgroundColour1), var(--backgroundColour2), var(--backgroundColour3), var(--backgroundColour4));
	background-size: 400% 400%;
	animation: gradient 120s ease infinite;
	height: 100vh;
}

body[data-theme="dark"] {
    --backgroundColour1 : var(--backgroundColourAlt1);
    --backgroundColour2 : var(--backgroundColourAlt2);
    --backgroundColour3 : var(--backgroundColourAlt3);
    --backgroundColour4 : var(--backgroundColourAlt4);
    --hexFillColour     : var(--hexFillColourAlt);
    --hexBorderColour   : var(--hexBorderColourAlt);
}

/* add hexagons to the background - https://css-pattern.com/ */
body::after {

    position: absolute;
    inset: 0;
    content: '';
    z-index: -1;

    /* don't edit these */
    --g1: conic-gradient(from  60deg at 56.25% calc(425%/6),  #0000, var(--hexFillColour) .5deg 119.5deg, #0000 120deg);
    --g2: conic-gradient(from 180deg at 43.75% calc(425%/6),  #0000, var(--hexFillColour) .5deg 119.5deg, #0000 120deg);
    --g3: conic-gradient(from -60deg at 50%    calc(175%/12), #0000, var(--hexFillColour) .5deg 119.5deg, #0000 120deg);

    background: var(--g1), var(--g1) 2em calc(2em * 1.73), var(--g2), var(--g2) 2em calc(2em * 1.73), var(--g3) 2em 0, var(--g3) 0 calc(2em * 1.73) var(--hexBorderColour);
    background-size: 4em calc(2em * 3.46);

}

@keyframes gradient {
    0%   { background-position: 0%    50%; }
    50%  { background-position: 100%  50%; } 
    100% { background-position: 0%    50%; }
}

/* main design */

.targetDate {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.3;
}

.questionWrapper {
    color: #fff;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
}

.questionText { 
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1em;
}

.questionOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.questionOptions button {
    display: inline-block;
    padding: 12px 24px;
    border: 0;
    text-decoration: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font: inherit;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    user-select: none;
    line-height: 1rem;
}

.questionOptions button small {
    display: block;
    font-size: 0.8rem;
    opacity: 0.6;
}

.questionOptions button:not(:disabled):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.questionOptions button.correct {
    background: rgba(2, 187, 0, 0.45);
}

.questionOptions button.incorrect {
    background: rgba(187, 0, 0, 0.45);
}

.questionOptions button:disabled:not(:is(.correct, .incorrect)) {
    opacity: 0.4;
}   

.questionAnswer {
    font-size: 1.250rem;
    font-weight: 400;
    line-height: 1.3;
    margin-block-start: 1em;
}

/* really simple language selector */
.languageSelector {
    display: flex;
    justify-content: center;
    gap:1em;
}

.languageSelector div {
    position: relative;
    cursor: pointer;
}

.languageSelector div:hover {
    color: #222222;
}

.languageSelector div:not(:first-child)::before {
    position: absolute;
    content: '•';
    left: -0.7em;
    color: #ffffff;
}

/* really simple theme selector */
.themeSelector {
    display: flex;
    justify-content: center;
    gap:1em;
}

.themeSelector div {
    position: relative;
    cursor: pointer;
}

.themeSelector div:hover {
    color: #222222;
}

.themeSelector div:not(:first-child)::before {
    position: absolute;
    content: '•';
    left: -0.7em;
    color: #ffffff;
}